.navbar {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
}
.navbar a {
  text-decoration: none;
}
.navbar ul {
  list-style-type: none;
  display: flex;
}
.navbar ul li {
  margin-left: 10px;
}
@media screen and (min-width: 700px) {
  .navbar ul {
    display: none;
  }
  .navbar a {
    color: red;
  }
}
