article {
  width: 300px;
  height: 100px;
  border: blueviolet solid 1px;
  display: flex;
  box-sizing: border-box;
}

article div {
  width: 100px;
  height: 100px;
  background: blue;
  padding: 10px;
  background-clip: content-box;
  box-sizing: border-box;
}