* {
    padding: 0;
    margin: 0;
}

article {
    // width: 500px;
    // height: 800px;
    background-color: #bfa;
    position: relative;
    // overflow: hidden;

    ul {
        position: absolute;
    }

    ul li {
        list-style: none;
        float: left;

    }

    ol {
        position: absolute;
        // bottom: 10px;
        top: 350px;
        left: 500px;
    }

    ol li {
        list-style: circle;
        // width: 100px;
        // height: 100px;
        background-color: red;
        float: left;
        margin-right: 20px;
        // border: 2px solid rgba(255, 255, 255, 0.5);
    }
}