body {
  padding: 20px;
}

input {
  border: none;
  outline: none;
  width: 100%;
  color: #555;
  text-align: center;
}

.field {
  position: relative;
  margin-bottom: 10px;
}

.field::after {
  content: "";
  display: block;
  background: linear-gradient(to right, white, red, green, blue, white);
  height: 1px;
}

.field:hover::before {
  content: attr(data-help);
  color: #666;
  font-size: 12px;
  position: absolute;
  top: -5px;
  left: -30px;
  text-align: center;
  width: 30%;
}