body {
    background: url(../img/bg_03.jpg) no-repeat fixed;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color: #54486e;
}

/* .head {
    float: left;
    background: #0ff;
    width: 450px;
    height: 1100px;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.5;
    opacity: 0.5; 
} */

.center {
    float: left;
    position: relative;
    /* background-color: #bfa; */
    left: 450px;
    width: 1000px;
    height: 100%;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.center_1 {
    float: left;
    font-size: 40px;
    padding-left: 30px;
}

.center_2 {
    float: left;
    font-size: 40px;
    padding-left: 650px;

}

.center_3 {
    float: left;

}

.center a {
    text-decoration: none;
    font-size: 30px;

}

.center .btn2 {
    width: 100px;
    height: 60px;
    background: url(../img/btn2.png);
    background-position: -50px -25px;
    border-style: none;


}

.center .btn1 {
    width: 200px;
    height: 60px;
    background: url(../img/btn1.png) no-repeat;
    background-position: -10px 0px;
    border-style: none;


}

.center .center_bg_1 {
    float: left;
}

.center .center_bg_2 {
    float: left;
}

/* .end {
    float: left;
    background: #0ff;
    width: 450px;
    height: 1100px;
    filter: alpha(Opacity=10);
    -moz-opacity: 0.5;
    opacity: 0.5;
} */