* {
  padding: 0;
  margin: 0;
}
body {
  background: #f3f3f3;
}
header {
  background-color: #fff;
  background: 0 5px 5px rgba(100, 100, 100, 0.3);
  border-bottom: solid 3px #1791A7;
}
header nav {
  padding: 20px 10px;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
header nav ul {
  list-style: none;
  float: left;
  margin-right: 20px;
}
header nav ul li {
  float: left;
  color: #438a98;
}
header nav ul li .logo {
  position: relative;
  top: 3px;
  margin-right: 5px;
}
header nav ul li a {
  text-decoration: none;
  color: #555;
}
header nav div.button {
  float: right;
}
main {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
}
main article {
  width: 1000px;
  height: 800px;
  border: solid 1px #ccc;
  box-sizing: border-box;
  background: yellowgreen;
  float: left;
}
main aside {
  width: 180px;
  height: 300px;
  float: right;
  border: solid 1px #ccc;
  background: red;
  box-sizing: border-box;
}
footer {
  background: #fff;
  border-top: solid 1px #ddd;
  margin-top: 30px;
  padding: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer div {
  margin: 0 auto;
  text-align: center;
}
